<form method="post" action="{% url 'manager' %}">
    {% csrf_token %}
   <select name="schema">
        <option value="">Select Schema</option>
        {% for schema in all_schemas %}
        <option value="{{schema}}">{{schema}}</option>
        {% endfor %}

    </select>
    <button type="submit">Get Running Queue</button>
    {% for queue in all_queue %}
        {% if queue.result %}
        <h3>{{queue.table}}</h3>
        <table>
            <tr>
                <th>chrome_id</th>
                <th> driver_id</th>
            </tr>
            {% for result in queue.result %}
            <tr>
                <td>{{result.0}}</td>
                <td>{{result.1}}</td>
            </tr>
            {% endfor %}

        </table>
        <br>
        {% endif %}
    {% endfor %}
</form>


